    .mb-3.col-6.checkbox {
        padding-top: 40px;
    }

    .plus {
        display: flex;
        gap: 3px;
        align-items: center;
        margin: 0;
    }

    .plus_sign {

        font-size: 22px;
    }
    /* Responsive and accessible HTML 5 breadcrumb */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #191919;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  height: 100vh;
  height: 100svh;
  display: grid;
  place-items: center;
}

a {
  color: #666666;
  text-decoration: none;
  transition: color 0.5s ease;
}

a:hover,
a:focus {
  color: #191919;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border: 1px solid #a7a7a7;
  border-radius: 5px;
  background-color: #c7c7c7;
}

li {
  --arrow-size: 1.4em;
  --arrow-width: 1em;
  position: relative;
  padding: 0.4em 1em;
  line-height: 1.8;
  white-space: nowrap;
}

li::before,
li::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid transparent;
  border-left: var(--arrow-width) solid var(--arrow-color);
  position: absolute;
  top: 50%;
  margin-top: calc(var(--arrow-size) * -1);
  left: 100%;
}

li::before {
  --arrow-color: #c7c7c7;
  z-index: 2;
}

li::after {
  --arrow-color: #a7a7a7;
  margin-left: 1px;
  z-index: 1;
}

li:first-of-type {
  padding-inline-start: 1.4em;
}

li:last-of-type {
  padding-inline-end: 1.4em;
}

li:last-of-type::before,
li:last-of-type::after {
  display: none;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}